Hi {{ firstName }},

You have been invited to join {{ organisationName }} on {{ appName }}.

Accept your invitation:
{{ acceptUrl }}

This link expires in {{ expiresInLabel }}. If you were not expecting this, you can ignore this email.
